@charset "utf-8";
.grid-container {
  display: grid;
  grid-template-areas: 
  	'left nav nav nav nav nav nav right'
    'left header header header header header header right' 
    'left middle middle middle middle middle middle right' 
    'left footer footer footer footer footer footer right';
} 
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.left,
.right,
.middle,
.nav {
  padding: 10px;
}
.left {
  grid-area: left;
}
.middle {
  grid-area: middle;
}
.right {
  grid-area: right;
}
.nav {
  grid-area: nav;
  background-color: #113131;
}
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


h1 {
    color: #FED16A;
}
h2 {
    color: #FED16A;
}
h3 {
    color: #FED16A;
}
h4 {
    color: #FED16A;
}
h5 {
    color: #FED16A;
}
h6 {
    color: #FED16A;
}
body {
    background-color: #16610E;
}
p {
    color: #FED16A;
}


@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'nav nav nav nav nav nav'
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}