@charset "utf-8";
.grid-container {
  display: grid;
  grid-template-areas: 
  	'left nav nav nav nav nav nav right'
    'left header header header header header header right' 
    'left middle1 middle2 middle3 middle4 middle5 middle6 right' 
    'left footer footer footer footer footer footer right';
} 
.header {
  grid-area: header;
  background-color: #16610E;
  width: 1000px;
}
.left,
.right,
.middle,
.nav,
.header {
  padding: 10px;
}
.left {
  grid-area: left;
  background-color: #F97A00;
}
.middle {
  grid-area: middle;
  width: 1000px;
  background-color: #16610E;
}
.right {
  grid-area: right;
  background-color: #F97A00;
}
.nav {
  grid-area: nav;
  width: 1000px;
  background-color: #16610E;
}
.footer {
  grid-area: footer;
  background-color: #16610E;
  padding: 10px;
  width: 1000px;
}


h1 {
    color: #FED16A;
}
h2 {
    color: #FED16A;
}
h3 {
    color: #FED16A;
}
h4 {
    color: #FED16A;
}
h5 {
    color: #FED16A;
}
h6 {
    color: #FED16A;
}
p {
    color: #FED16A;
}


@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'nav nav nav nav nav nav'
      'header header header header header header' 
      'left left left left left left' 
      'middle1 middle2 middle3 middle4 middle5 middle6' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}