@charset "utf-8";
.header {
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: rgba(51, 181, 214, 0.8);
}

body {
  background-color: rgba(51, 181, 214, 0.13);
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

img {
  float: right;
    }
